<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Byrng
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / 1140px Grid styles for IE
    /[if lte IE 9] <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    / The 1140px Grid - http://cssgrid.net/
    %link{:href => "css/1140.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / Your styles
    %link{:href => "css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers
    %script{:src => "js/css3-mediaqueries.js", :type => "text/javascript"}
    / Delete embedded styles, just for example.
    :css
      body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #424242;
      font-size: 13px;
      padding-bottom: 12em
      }
      
      h1, h2, h3, h4, h5, h6 {
      line-height: 1.2em;
      margin-bottom: 0em;
      padding-bottom: 0em;
      }
      
      .container p {
      font-size: 1em;
      line-height: 1.4em;
      background: #fff;
      text-align: left;
      margin: 0 0 0 0;
      }
      
      .center {
      text-align: center;
      }
      
      .bitabove {
      padding-top: 2px;
      }
      
      .spaceafter {
      padding-bottom: 1em;
      }
      
      #inset1 {
        padding-left: 1em;
      }
      
      .listsmaller {
        font-size: .9em;
      }
      
  %body
    .container
      .row
        .twocol
        .eightcol
          %img{ :src => "i/byrngheader.png", :alt => "byrng: a minecraft server"}
        .twocol.last
      /.row
      /  .twocol
      /  .eightcol.center
      /    %a{:href => "http://minecraftviewer.com/servers/1424/view", :target => "_blank"}
      /      %img{:alt => "Server Banner", :src => "http://cache.multiplayuk.com/b/1-1424-560x95.png", :style => "border:0;width:560px;height:95"}/
      /  .twocol.last
        
      .row
        .twocol
        .fourcol
          %h2.spaceafter Byrng is a Minecraft server maintained by Splendorr. 
          %p.spaceafter
            Currently Running Minecraft 1.6.6, with
            %a{ :href => "http://bukkit.org" } Bukkit
            build 818.
          %p.spaceafter 
            Our host automatically updated us to 1.6.6 now that it appears to be stable. Read the 
            %a{ :href => "http://mcupdate.tumblr.com/"} changelog 
            when you first open Minecraft to see what has changed, and let me know if you encounter weirdness.
          %p.spaceafter
            If you are new to the server and have not been added to the Regulars list yet, you will be unable to make any changes to the world. Send an email to the address shown in chat when you log in, and I can add you to the list. This is to prevent Griefers and Antagonists from Screwing with Stuff. Presumably.
              
        .fourcol
          %h3 Server Address:
          %p.spaceafter 
            %a{ :href => "minecraft://www.minecraft.net/play.jsp?ip=209.15.226.33&port=27765"} 209.15.226.33:27765
          %h3 Current Online Status:
          %a{:href => "http://minecraftviewer.com/servers/1424/view", :target => "_blank"}
            %img.bitabove.spaceafter{:alt => "Server Banner", :src => "http://cache.multiplayuk.com/b/1-1424-350x20-171717-303030-000000-FFFFFF.png", :style => "border:0;width:350px;height:20"}/
          %br
          %h3 Installed Plugins:
          #inset1.spaceafter
            %p.listsmaller
              %a{ :href => "http://forums.bukkit.org/threads/mech-appletree-v0-5-trees-now-drop-apples-new-dev-766.17613/"} AppleTree
              %br
              %a{ :href => "http://forums.bukkit.org/threads/gen-sec-econ-tp-admn-essentials-v2-2-a-collection-of-useful-commands-and-features-803.15312/"} Essentials
              #inset1
                Essentials Chat
                %br
                Essentials Group Bridge
                %br
                Essentials Group Manager
                %br
                Essentials Protect
              %a{ :href => ""} HeroicDeath
          %h3 Contribute
          %p.spaceafter
            The server currently costs about $12 per month to run. We have somewhere in the neighborhood of 5 regular players. If each person donates about $3 a month, we can easily keep the server running.
          %p
            %strong Donations Received as of May 28, 2011 / Total Cost
            %br
            $13.50 / $12
          %p.spaceafter
            :erb
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBhbhX7skY5Xz5yNiO4qpE+T+mVgH31E1ZQ1Q2qi9tss2fdjKOm1B1Qt0OSGvnrSEA402XZGUvWXgP7DWfDFBmpp4Ne0G2p/1E52dWzwmTAHqFOJv3oguvxhBW8MNEAuo82jY/8sle3Jcltd0jzpJ3HLy2t4JKEe3lKymya/WrxRjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIPsyVDpekNFuAgaCDa/n4i5wSPvElaBlfsj8gHt0cutO55vMliwU19J7gRQ0GGTuJ+dKRmzXyfy7YFmm7VVnNf8NaRQyLhGqpMrI2ALBsm30dXRY3dLPbFICfaCQm9A8LuMf4rOx2cOGqkKowYEb+UUN4gvz6PTOQHQQVJPkNW5LMgNRSEVsTY9k+ZuR0dynr6GEqHgMrLJ8XoeDpsavWNe7+WkM5PPD6pxQfoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTEwNTI4MTkwNzQwWjAjBgkqhkiG9w0BCQQxFgQUks3EUKL5wr09gMXdZ3nYcyIrAYYwDQYJKoZIhvcNAQEBBQAEgYAOLI8AlLlh52VicDZa0r+3XQl26QXs9rmVKhVx/RtabU0VIfnzRgxrOSg0+T1o6OmMyrLMqeE0NhjD5bW+tU/Ad97u7oxxrDho4ih1luK6ix70QaUo/xh8HP+siaEWVa2wYL8zs0qlW7urP8BMJsAukaUEqUz1AIGUt0HrZwaV9w==-----END PKCS7-----
              ">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
          %p.spaceafter Thank you!
        .twocol.last